version: "3.9"

services:
  db:
    image: postgres:16
    container_name: reviewer-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: reviewer
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 2s
      retries: 10
    volumes:
      - db_data:/var/lib/postgresql/data

  migrator:
    image: migrate/migrate:4
    container_name: reviewer-migrator
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    entrypoint: [
      "sh", "-c",
      "
      echo 'Running migrations...';
      migrate -path=/migrations -database postgres://postgres:postgres@db:5432/reviewer?sslmode=disable up;
      echo 'Migrations finished.';
      "
    ]

  app:
    build: .
    container_name: reviewer-app
    depends_on:
      migrator:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/reviewer?sslmode=disable
    ports:
      - "8080:8080"

volumes:
  db_data:
